{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% block head %}
  {% endblock head %}
</head>
<body>
  <header>
    <div>
      <a href="/">Mushroom Icon</a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "mushroom-index" %}">All Mushrooms</a></li>
        <li><a href="{% url "mushroom-create" %}">Add Mushrooms</a></li>
        {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url "logout" %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url "home" %}">Login</a></li>
          <li><a href="{% url "signup" %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>