{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock head %}
{% block content %}
  <section class="image-container">
    <img src="{% static "images/mushrooms-fall-foliage.jpg" %}" alt="fall-mushroom">
  </section>
  <section class="intro-container">
    <div>
      <h2>Mushroom are all around us.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, aspernatur et excepturi tenetur magnam ea ipsum rerum animi fugit at quis, id sed autem accusantium nulla sunt, odit dolor labore.</p>
    </div>
    <div>
      <h3>Explore More</h3>
      <button class="btn btn-warning">How to Start Foraging</button>
      <button class="btn btn-warning">ID Tips and Skills</button>
      <button class="btn btn-warning">In the Field</button>
    </div>
  </section>
  <section class="info-container">
    <div class="info-content-started">
      <h2>Getting Started</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas sequi, quibusdam iure, hic dolorum illo earum a nemo aperiam aliquam facilis vero possimus qui, deserunt tempora vitae placeat voluptas. Ipsam.</p>
    </div>
    <div class="info-content-find">
      <div>
        <h2>How to Find a Mushroom</h2>
        <p>No matter where you are, guides will help make foraging mushrooms easier</p>
        <button class="btn btn-warning">Read On</button>
      </div>
      <img src="{% static "images/mushroom-basket.jpg" %}" alt="mushroom-basket">
    </div>
  </section>
  <section class="mailing-container">
    <div class="mailing-content blue-gradient">
      <div>
        <h1>JOIN US ON OUR MAILING LIST</h1>
        <p class="mailing-message">Let us send you the latest news and events</p>
      </div>
      <div class="news-letter-signup">
        <label for="email">Email</label>
        <input id="email" type="text">
        <label for="zip">Zip</label>
        <input id="zip" type="text">
        <p>This site is protected by reCAPTCHA and the Google <span>Privacy Policy</span> and <span>Teams of Service</span> apply</p>
        <button class="btn btn-warning">Sign Up</button>
      </div>
    </div>
  </section>
{% endblock content %}

