{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="">
{% endblock head %}
{% block content %}
  <section>
    <div>
      <h1>Home Page</h1>
    </div>
  </section>
  {% if not user.is_authenticated %}
    <section>
      <form action="{% url "home" %}" method="post">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Login</button>
      </form>
    </section>
  {% endif %}
{% endblock content %}

