{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock head %}
{% block content %}
  <section>
    <div class="login-container">
      <img src="{% static "images/mushroom-icon.jpg" %}" alt="mushroom-icon">
      <form action="{% url "home" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-warning" type="submit">Login</button>
      </form>
      <p class="signup-text">If you don't have an account, become a member and sign-up for an account <a href="{% url "signup" %}">here</a>.</p>
    </div>
  </section>
{% endblock content %}
