.image-container {
  background-color: #161B26;

  img {
    width: 100%;
    height: 50rem;
    clip-path: ellipse( 110% 100% at 30% 0%);
  }
}

.intro-container {
  background-color: #161B26;
  color: #E5E2DE;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    font-size: 40px;
  }
}

.info-content-started {
  width: 50%;
  margin: auto;
  padding: 3rem 0;
}

.info-content-find {
  background-color: #161B26;
  color: #E5E2DE;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 1rem 5rem;
  border-radius: 10px;

  img {
    border-radius: 20px;
    width: 30rem;
  }
}

.mailing-container {
  padding-top: 8rem;
  color: white;
}

.mailing-content {
  padding: 10rem 0 0 80px;
  display: flex;
  justify-content: space-around;
}

.mailing-message {
  font-size: 20px;
}

.news-letter-signup {
  display: flex;
  flex-direction: column;
  width: 40em;
  padding-bottom: 6rem;

  input {
    width: 8em;
  }

  p {
    font-size: 14px;
    width: 20em;
  }

  span {
    text-decoration: underline;
  }

  button {
    background-color: goldenrod;
    width: 6em;
    border-radius: 10px;
  }
}

.blue-gradient {
  background: linear-gradient(to bottom right, #3a44d4, #6e76cc);
  clip-path: ellipse(100% 150% at 40% 150%);
}
